<!-- <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<body > -->
  <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
 
<div class="container">
    <p class="jumbotron" style="margin-left: 10px; margin-top: 40px;"><b>Welcome to State Police Department</b><br><br>

    Police Department is committed to delivering the most efficient, effective, productive, and quality police service to the community. We are dedicated to the advancement of a cooperative partnership with our community to develop better community policing, improved communications, and reduced crime.</p>
  </div>
  
  
<div id="pressRelease">
    <!-- <div class="PRelease4">
        <span class="PRelease4_icon"> Covid Precautions </span>
    </div> -->
    <h5 style="margin-left: 100px;margin-top: 40px; ">Covid Precautions</h5>
    <div class="presscontent">
        <marquee  direction="up" scrollamount="2" height="289" onmouseover="this.stop()" onmouseout="this.start()">
            <li style="margin-bottom: 10px;"><a style="font-size: 16px; font-weight: normal; color: #0066cc; text-decoration: none; line-height: 16px; margin-bottom: 5px;" onclick="viewLatestNews('404');">
                Thoroughly clean your hands with an alcohol-based hand rub or wash them with soap and water. </a></li><a href="#" style="font-size: 16px; font-weight: normal; color: #0066cc; text-decoration: none; line-height: 16px; margin-bottom: 5px;" onclick="viewLatestNews('404');">

                </a><li style="margin-bottom: 10px;"><a href="#" style="font-size: 16px; font-weight: normal; color: #0066cc; text-decoration: none; line-height: 16px; margin-bottom: 5px;" onclick="viewLatestNews('404');"></a><a href="#" style="font-size: 16px; font-weight: normal; color: #0066cc; text-decoration: none; line-height: 16px; margin-bottom: 5px;" onclick="viewLatestNews('403');">
                    consider wearing a Facemask before heading out. </a></li><a href="#" style="font-size: 16px; font-weight: normal; color: #0066cc; text-decoration: none; line-height: 16px; margin-bottom: 5px;" onclick="viewLatestNews('403');">

                </a><li style="margin-bottom: 10px;"><a href="#" style="font-size: 16px; font-weight: normal; color: #0066cc; text-decoration: none; line-height: 16px; margin-bottom: 5px;" onclick="viewLatestNews('403');"></a><a href="#" style="font-size: 16px; font-weight: normal; color: #0066cc; text-decoration: none; line-height: 16px; margin-bottom: 5px;" onclick="viewLatestNews('401');">
                    Maintain at least 1 metre (3 feet) distance between yourself and others.</a></li><a href="#" style="font-size: 16px; font-weight: normal; color: #0066cc; text-decoration: none; line-height: 16px; margin-bottom: 5px;" onclick="viewLatestNews('401');">

                </a><li style="margin-bottom: 10px;"><a href="#" style="font-size: 16px; font-weight: normal; color: #0066cc; text-decoration: none; line-height: 16px; margin-bottom: 5px;" onclick="viewLatestNews('401');"></a><a href="#" style="font-size: 16px; font-weight: normal; color: #0066cc; text-decoration: none; line-height: 16px; margin-bottom: 5px;" onclick="viewLatestNews('400');">
                    Avoid touching eyes, nose and mouth.</a></li><a href="#" style="font-size: 16px; font-weight: normal; color: #0066cc; text-decoration: none; line-height: 16px; margin-bottom: 5px;" onclick="viewLatestNews('400');">

                </a><li style="margin-bottom: 10px;"><a href="#" style="font-size: 16px; font-weight: normal; color: #0066cc; text-decoration: none; line-height: 16px; margin-bottom: 5px;" onclick="viewLatestNews('400');"></a><a href="#" style="font-size: 16px; font-weight: normal; color: #0066cc; text-decoration: none; line-height: 16px; margin-bottom: 5px;" onclick="viewLatestNews('398');">
                    Seek Medical Care Early </a></li><a href="#" style="font-size: 16px; font-weight: normal; color: #0066cc; text-decoration: none; line-height: 16px; margin-bottom: 5px;" onclick="viewLatestNews('398');">
                        </a>
                    </marquee>
    </div>
     
</div> 
<div style="width: 840px; height: 500px; text-align:center;margin:0; padding:0; margin-top: 20px; margin-left: 75px;">
    <ng-image-slider #nav
      [images]="imageObject"
      [infinite]="false"
      [autoSlide]="1"
      [imageSize]="{width: '100%', height: 400}"
      slideImage="1"></ng-image-slider> 
  </div> 

  
 
 <br><br><br><br> 
  <div class="info">
  <h5>For Updates and Queries</h5>
  <div><i class="fa fa-phone fa-2x" aria-hidden="true">+912233445566</i><br>
    <a href="https://telegram.me/joinchat/PuLLSRgDcdlD2-p3Pnmw8A"><i class="fa fa-telegram fa-2x" aria-hidden="true"></i></a>
   <a href="https://chat.whatsapp.com/E5U1FV0IAvnCz0oZaEeEkW"><i class="fa fa-whatsapp fa-3x" aria-hidden="true"></i></a><i class="fa fa-facebook fa-3x" aria-hidden="true"></i></div> 
</div> -->
<!-- <a href="https://www.w3schools.com/"><class="fa fa-telegram " aria-hidden="true"></a> -->


  