<header>
 <link rel="stylesheet"  href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<marquee><h2>!!--WELCOME TO POLICE-SEVA --!!</h2></marquee>
<div class="contain">
      <div class="box">
         <button class="icon" [routerLink]="['/complaint']" ><i class="fa fa-gavel" aria-hidden="true"></i></button>
          <div class="con"><h2>Traffic Cop</h2></div>
      </div>
    <div class="box">
      <button class="icon" [routerLink]="['/central']" ><i class="fa fa-users" aria-hidden="true"></i></button>
      <div class="con"><h2>Central Team</h2></div>
    </div>
  <div class="box">
    <button class="icon" [routerLink]="['/medico']" ><i class="fa fa-medkit" aria-hidden="true"></i></button>
     <div class="con"><h2>Medical</h2></div>
  </div>
</div>
</header>