<h2 style="margin-left: 550px;">E-CHALLAN</h2>
<div class="container">
    <div class="jumbotron">
        <form #traffic="ngForm">
            <div class="form-group">
                <label for="name">Name:</label>
                <input type="text" class="form-control" name="name" required [(ngModel)]="complain.name" 
                pattern="[a-zA-Z][a-zA-Z]+"> 
            </div>
            <div class="form-group">
                <label for="vehicle">Vehicle </label>
                <input type="text" class="form-control" name="vehicle" required [(ngModel)]="complain.vehicle">
            </div>
            
            <div class="form-group">
                <label for="vehicleno">Vehicle No:</label>
                <input type="text" class="form-control" name="vehicleno" required [(ngModel)]="complain.vehicleno">
            </div>

            <div class="form-group">
                <label for="type">Violation Type:</label>
                <input type="text" class="form-control" name="type" required [(ngModel)]="complain.type"> 
            </div>
            <div class="form-group">
                <label for="licenseno">License No</label>
                <input type="number" class="form-control" name="licenseno" required [(ngModel)]="complain.licenseno"> 
            </div>
            <div class="form-group">
                <label for="location">Location:</label>
                <input type="text" class="form-control" name="location" required [(ngModel)]="complain.location" > 
                <!-- <input ngx-google-places-autocomplete [options]='options' #placesRef="ngx-places" (onAddressChange)=" handleAddressChange($event)"/>  
                 -->
            </div>
            <div class="form-group">
                <label for="phoneno">Phone no</label>
                <input type="tel" class="form-control" name="phoneno" required [(ngModel)]="complain.phoneno"> 
            </div>
            <button  class="btn btn-success" [disabled]="traffic.invalid" (click)="registerComplain()">Add Complaint</button> 
        </form>
    </div>
</div>