<h3 style="margin-left: 530px;">REGISTRATION</h3>
<div class="container">
    <div class="jumbotron">
        <form #register="ngForm" >
            <div class="form-group">
                <label for="emailid">Email Id:</label>
                <input type="email" class="form-control" name="emailid" [(ngModel)]="user.emailid" required 
                > 
            </div>
            <div class="form-group">
                <label for="username">username:</label>
                <input type="text" class="form-control" name="username" [(ngModel)]="user.username" required 
                pattern="[a-z A-z][a-zA-z]+" > 
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" class="form-control"  name="password" [(ngModel)]="user.password" required> 
            </div>
            <br>
            <button  class="btn btn-success" [disabled]="register.invalid" (click)=registerUser()>REGISTER</button> 
        </form>
        
    </div>
</div>












<!-- <div style="min-width: 100%;min-height: 200%;">
    <br>
<div class="container" style="max-width: 600px;background-color: white;">
    <form #register="ngForm" (ngSubmit)="register()">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" placeholder="Enter Email" name="email" [(ngModel)]="user.emailid" required #emailid="ngModel"
            [class.is-invalid]="emailid.invalid && emailid.touched">
            <div *ngIf="emailid.errors && (emailid.invalid && emailid.touched)">
                <small class="text-danger" *ngIf="emailid.errors.required">email id is reguired</small>
                <small class="text-danger" *ngIf="emailid.errors.pattern">Enter Valid emai </small>
            </div>
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text" class="form-control" placeholder="Enter Username" name="username" [(ngModel)]="user.username" required #username="ngModel"
            [class.is-invalid]="username.invalid && username.touched">
            <small class="text-danger" [class.d-none]="username.Valid || username.untouched">username Requires</small>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" placeholder="Enter password" name="password" [(ngModel)]="user.password" required #password="ngModel"
            [class.is-invalid]="password.invalid && password.touched">
            <small class="text-danger" [class.d-none]="password.Valid || password.untouched">Password Required</small>
                </div>
       
    </form>

</div>
</div> -->